# Project ignore files
/src/*/bin
/src/*/obj
/src/.vs
/tests/bin
/tests/obj
/tools
/staging
/builds

*.csproj.user
/TestResult.xml
/coverage.xml

# Recommended ignores for Visual Studio NuGet
*.nupkg
**/packages/*
!**/packages/build/
